In [ ]:
my_name = "Tiba"
print(my_name)

Tiba

In [ ]:
my_age = 41
print(my_age)

41

In [ ]:
julia_age = 32
age_diff = julia_age - my_age
print("my age:", my_age)
print("age difference:", age_diff)

my age: 41
age difference: -9

In [ ]:
if age_diff > 0:
    print("I am younger than Julia")
elif age_diff < 0:
    print("I am older than Julia")
else:
    print("Julia and I are the same age")

I am older than Julia

In [ ]:
if my_age > 21:
    print("I am older than 21")
else:
    print("I am younger than 21")

I am older than 21

In [ ]:
if my_age > julia_age:
  print("I am older than Julia")
elif my_age < julia_age:
  print("I am younger than Julia")
else:
    print("I am the same age as Julia")

I am older than Julia

In [ ]:
class_name= ["Tiba", "Gokce", "Julien", "Jost", "Muayed", "Katha","Marc","Emily","Lucas"]
class_name.sort()
print(class_name)

['Emily', 'Gokce', 'Jost', 'Julien', 'Katha', 'Lucas', 'Marc', 'Muayed', 'Tiba']

In [ ]:
print("first name in the class:",class_name[0])

first name in the class: Emily

In [ ]:
print("last name in the class:",class_name[-1])

last name in the class: Tiba

In [ ]:
print("all the name in the class:")
for name in class_name:
    print(name)

all the name in the class:
Emily
Gokce
Jost
Julien
Katha
Lucas
Marc
Muayed
Tiba

In [ ]:
ages=[32,43,41,37,39,38]
print("all the ages of the group:")
for age in ages:
    print(age)

all the ages of the group:
32
43
41
37
39
38

In [ ]:
print("aven ages of students:")
for age in ages:
    if age % 2 == 0:
        print(age)

aven ages of students:
32
38

In [ ]:
index = 0
even_ages_of_students = []

while index < len(ages):
    if ages[index] % 2 == 0:
        even_ages_of_students.append(ages[index])
    index +=1


print(even_ages_of_students)

[32, 38]

In [ ]:
for i in (ages):
    if i % 2 == 0:
        print (i)

32
38

In [ ]:
index = 0
while index < len(ages):
    if ages[index] %2 == 0:
        print(ages[index])
    index+=1

32
38

In [ ]:
numbers =[23,64,12,93,2,34,21]
print(min(numbers))
max(numbers)

2

93

In [ ]:
customers=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
current_year = 2025

for i in customers:
    age_customer= current_year - i
    print(age_customer)

26
30
20
15
18
19
31
29
46
17

Exercise 11

In [ ]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}]
current_year=2025

for x in customer_list:
    customer_name= x["name"]
    customer_age= current_year - x["age"]
    # print(f"{customer_name}")
    # print(f"{customer_age}")
    print(f"{customer_name} is {customer_age} years old")

Bob is 26 years old
Jack is 30 years old
Lisa is 20 years old
Maria is 15 years old
Ben is 18 years old
Emma is 19 years old
Oscar is 31 years old
Amy is 29 years old
Paul is 46 years old
Etta is 17 years old

Exercise 12

In [ ]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
youngest = min(ages)
oldest = max(ages)

print(youngest, oldest)

9 40

Exercise 12 not use max and min

In [2]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()
print(ages)
del ages[0]
print(ages)
del ages[-1]
print(ages)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25]

Exercise 13

In [3]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common_age=[]

for i in berlin:
  if i in munich:
    common_age.append(i)
print(common_age)

[15, 13, 16, 18, 19, 10]

Exercise 14

In [ ]:
list_age= [15, 13, 16, 18, 19, 15, 10]

unique_age= []

for i in list_age:
  if i not in unique_age:
    unique_age.append(i)
print(unique_age)

[15, 13, 16, 18, 19, 10]

Exersice 15

In [ ]:
def welcome(name):
  print(f"Welcome {name}, have a nice day! ")

welcome("Tiba")

Welcome Tiba, have a nice day!

Exersice 16

In [ ]:
def get_length(name):
  return len(name)
get_length("Tiba")

4

Exersice 17

In [ ]:
def check_even(int):
  if int %2 == 0:
    print("yes")
  else:
    print("no")
check_even(5)

no

Exercise 18

In [ ]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}]
def name_age(customers):
  current_year=2025

  for x in customer_list:
    customer_name= x["name"]
    customer_age= current_year - x["age"]
    # print(f"{customer_name}")
    # print(f"{customer_age}")
    print(f"{customer_name} is {customer_age} years old")
name_age(customer_list)

Bob is 26 years old
Jack is 30 years old
Lisa is 20 years old
Maria is 15 years old
Ben is 18 years old
Emma is 19 years old
Oscar is 31 years old
Amy is 29 years old
Paul is 46 years old
Etta is 17 years old

In [ ]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

def age_(list_age):
  compare_number=ages[0]

  for i in list_age:
    if i < compare_number:
      youngest= i
    elif i > compare_number:
      oldest = i
  print(youngest, oldest)

age_(ages)

11 40

In [ ]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

def common_age(list1,list2):
  common_age=[]

  for i in list1:
    if i in list2:
      common_age.append(i)
  print(common_age)

common_age(berlin,munich)

[15, 13, 16, 18, 19, 10]

In [ ]:
age= [15, 13, 16, 18, 19, 15, 10]


def unique_age(list_age):
  unique_age= []

  for i in list_age:
    if i not in unique_age:
      unique_age.append(i)
  print(unique_age)

unique_age(age)

[15, 13, 16, 18, 19, 10]

In [ ]:
def input_integer(target, list_of_input):
  return target in list_of_input

a =[1,2,3,4]

input_integer(5,a)

False