In [3]:
my_name = "Tiba"
print(my_name)

Tiba

In [6]:
my_age = 41
print(my_age)

41

In [ ]:
julia_age = 32
age_diff = julia_age - my_age
print("my age:", my_age)
print("age difference:", age_diff)

my age: 41
age difference: -9

In [11]:
if age_diff > 0:
    print("I am younger than Julia")
elif age_diff < 0:
    print("I am older than Julia")
else:
    print("Julia and I are the same age")

I am older than Julia

In [16]:
if my_age > 21:
    print("I am older than 21")
else:
    print("I am younger than 21")

I am older than 21

In [ ]:
if my_age > julia_age:
print("I am older than Julia")
elif my_age < julia_age:
print("I am younger than Julia")
else:
    print("I am the same age as Julia")

I am older than Julia

In [11]:
class_name= ["Tiba", "Gokce", "Julien", "Jost", "Muayed", "Katha","Marc","Emily","Lucas"]
class_name.sort()
print(class_name)

['Emily', 'Gokce', 'Jost', 'Julien', 'Katha', 'Lucas', 'Marc', 'Muayed', 'Tiba']

In [7]:
print("first name in the class:",class_name[0])

first name in the class: Emily

In [5]:
print("last name in the class:",class_name[-1])

last name in the class: Tiba

In [15]:
print("all the name in the class:") 
for name in class_name:
    print(name)

all the name in the class:
Emily
Gokce
Jost
Julien
Katha
Lucas
Marc
Muayed
Tiba

In [3]:
ages=[32,43,41,37,39,38]
print("all the ages of the group:")
for age in ages:
    print(age)

all the ages of the group:
32
43
41
37
39
38

In [17]:
print("aven ages of students:")
for age in ages:
    if age % 2 == 0:
        print(age)

aven ages of students:
32
38

In [7]:
 len(ages)
index

1

In [17]:
index = 0
even_ages_of_students = []

while index < len(ages):
    if ages[index] % 2 == 0:
        even_ages_of_students.append(ages[index])
    index +=1


print(even_ages_of_students)

[32, 38]

exersice 7 with for loop

In [20]:
for i in (ages):
    if i % 2 == 0:
        print (i)

32
38

exersice 7 with while

In [26]:
index = 0
while index < len(ages):
    if ages[index] %2 == 0:
        print(ages[index])
    index+=1

32
38

exersice 8 and 9

In [33]:
numbers =[23,64,12,93,2,34,21]
print(min(numbers))
max(numbers)

2

93

Exercise 10

In [38]:
customers=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
current_year = 2025 

for i in customers:
    age_customer= current_year - i 
    print(age_customer)

26
30
20
15
18
19
31
29
46
17

Exercise 11